## Handling Imbalanced Dataset
1. Up Sampling
2. Down Sampling

In [4]:
import numpy as np
import pandas as pd

## set a randomseed for reproducibility
np.random.seed(123)

# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [8]:
n_class_0, n_class_1

(900, 100)

In [26]:
## Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale = 1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale = 1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale = 1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale = 1, size=n_class_1),
    'target': [1]*n_class_1
})

In [28]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [30]:
df.head()

   feature_1  feature_2  target
0  -0.941691  -0.460530       0
1   1.038645  -0.910269       0
2  -1.432479  -0.780990       0
3  -1.620503  -0.107118       0
4  -0.279527  -0.657885       0

In [32]:
df.tail()

     feature_1  feature_2  target
995   2.080243   1.200871       1
996   1.457629   2.371559       1
997   3.456532   1.543461       1
998   3.046854   1.860446       1
999   1.590834   1.307492       1

In [34]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [36]:
## upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [40]:
from sklearn.utils import resample 
## whatever points in minority, it will try to create more new points for this and it will try to equalize with respect to majority

In [42]:
df_minority_upsampled = resample(df_minority,replace=True, #sample with replacement
         n_samples = len(df_majority),
         random_state = 42
        )

In [44]:
df_minority_upsampled.shape

(900, 3)

In [46]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   4.718427   1.641871       1
992   0.997119   1.885766       1
914   4.212847   1.609004       1
971   1.928964   1.203220       1
960   2.524267   4.188399       1

In [48]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [52]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [57]:
import numpy as np
import pandas as pd

## set a randomseed for reproducibility
np.random.seed(123)

# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [59]:
## Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale = 1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale = 1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale = 1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale = 1, size=n_class_1),
    'target': [1]*n_class_1
})

In [61]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [63]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [65]:
## downsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [69]:
from sklearn.utils import resample 
df_majority_downsampled = resample(df_majority,replace=False,
         n_samples = len(df_minority),
         random_state = 42
        )

In [71]:
df_majority_downsampled.shape

(100, 3)

In [73]:
df_downsampled = pd.concat([df_minority, df_majority_upsampled])

In [75]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64